{% extends "layout/base.twig" %}

{% block title %}
    Tous les tags
{% endblock %}
{% block body %}
    <p>tous les tags</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de création</th>
                <th scope="col">Voir tag</th>
                <th scope="col">Editer tag</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tags %}
                <tr>
                    <td scope="row">{{ t.id }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.created_at }}</td>
                    <td>
                        <a href={{ base_url('oneTag')~'/'~t.id }}>Voir</a>
                    </td>
                    <td>
                        <a href={{ base_url('editTag')~'/'~t.id }}>Editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# ajouter un cotnrole en amont #}

 {{ form_open('TagController/createTag', hidden) }}

   {{ form.input ("name", tag.name) }}

{{form_close()}}

{% endblock %}
