{% extends "users/templateUserForm.twig" %}

{% block title %}
    S'inscrire
{% endblock %}


{% block formTitle %}S'inscrire {% endblock %}
       

{% block formStart %}
{{form_open(base_url('inscription'),  {"class" : isSubmitted ? "" :'no-validate'} )}}

 {% endblock %} 

 {% block lastname %}{{set_value('lastname')}}{% endblock %}
 {% block firstname %}{{set_value('firstname')}}{% endblock %}
 {% block login %}{{set_value('login')}}{% endblock %}
 {% block address1 %}{{ set_value('address1')}}{% endblock %}
 {% block address2 %}{{set_value('address2')}}{% endblock %}
 {% block zipcode %}{{set_value('zipcode')}}{% endblock %}
 {% block city %}{{set_value('city')}}{% endblock %}
 {% block email %}{{set_value('email')}}{% endblock %}

 {% block specificFormFields %}

  <div class="form-label-group mt-3">
    <label for="password">Mot de passe*</label>
    <input type="password" id="password"  name = "password" class="form-control {{validation.hasError('password') ? 'is-invalid':'is-valid'}}" required value = {{set_value('password')}}>
      {% if validation.hasError('password') %}
        <div class = "invalid-feedback">{{validation.getError("password")}} </div>
      {% endif %}
    <div id="passwordStrenght"></div>
  </div>

  <div class="form-label-group mt-3">
    <label for="password2">Vérification mot de passe*</label>
    <input type="password" id="password2" name = "password2" class="form-control {{validation.hasError('password2') ? 'is-invalid':'is-valid'}}"  required value = {{set_value('password2')}}>
      {% if validation.hasError('password2') %}
        <div class = "invalid-feedback">{{validation.getError("password2")}} </div>
      {% endif %}
  </div>


 {% endblock %} 

 {% block submitButtonText %}
 S'inscrire
 {% endblock %}