{% extends "layout/base.twig" %}


{% block body %}


<div class="container-fluid">

  {% if message == 'success' %}
  <div class="row justify-content-center">
      <div class="col-xs-12 col-md-4 alert alert-success">Vos informations ont bien été enregistrées.</div>
  </div>
{% endif %}


  <div class = "row mt-3">
      <h1 class = "col-12 text-center text-primary">{% block formTitle %} {% endblock %}</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
   

{% block formStart %}{% endblock %}


    <div class="form-label-group">
      <label for="lastName">Nom*</label>
      <input type="text" id="lastName" class="form-control" name = "lastName" maxlength="150" required autofocus value ="{% block lastName %}{% endblock %}">
    </div>
 
    <div class="form-label-group mt-3">
      <label for="firstName">Prénom*</label>
      <input type="text" id="firstName"  name = "firstName" class="form-control" maxlength="150" required value = "{% block firstName %}{% endblock %}" >
    </div>

    
    <div class="form-label-group mt-3">
      <label for="login">Nom d'utilisateur*</label>
      <input type="text" id="login"  name = "login" maxlength="50" class="form-control {{validation.hasError('login') ? 'is-invalid':'is-valid'}}" required value = "{% block login %}{% endblock %}">
      {% if validation.hasError('login') %}
      <div class = "invalid-feedback">{{validation.getError("login")}} </div>
      {% endif %}
    </div>
   
    <div class="form-label-group mt-3">
      <label for="address1">Adresse 1*</label>
      <input type="text" id="address1"  name = "address1" class="form-control" required value = "{% block address1 %}{% endblock %}">
    </div>

    <div class="form-label-group mt-3">
      <label for="address2">Adresse 2*</label>
      <input type="text" id="address2"  name = "address2" class="form-control" value = "{% block address2 %}{% endblock %}">
    </div>
  
    <div class="form-label-group mt-3">
      <label for="zipCode">Code Postal*</label>
      <input type="text" id="zipCode"  name = "zipCode" maxlength="5" minlength="5" class="form-control {{validation.hasError('zipCode') ? 'is-invalid':'is-valid'}}" required value = "{% block zipCode %}{% endblock %}">
      {% if validation.hasError('zipCode') %}
      <div class = "invalid-feedback">{{validation.getError("zipCode")}} </div>
      {% endif %}
    </div>
 
    <div class="form-label-group mt-3">
      <label for="city">Ville*</label>
      <input type="text" id="city"  name = "city" class="form-control" required value = "{% block city %}{% endblock %}">
    </div>
   
    <div class="form-label-group mt-3">
      <label for="email">Email*</label>
      <input type="email" id="email"  name = "email" maxlength="50" class="form-control {{validation.hasError('email') ? 'is-invalid':'is-valid'}}" required value = "{% block email %}{% endblock %}">
      {% if validation.hasError('email') %}
      <div class = "invalid-feedback">{{validation.getError("email")}} </div>
      {% endif %}
    </div>

    {% block specificFormFields %} {% endblock %}

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mt-5" type="submit">{% block submitButtonText %}{% endblock %}</button>
    </div>



    {{ validation.errors ? validation.errors.name }}
    {{ form_close }}

  <div class = "row mt-3">
      <div class = "col-12">* Champs obligatoires</div>  
  </div>
</div>
</div>
{% endblock %}

  

       
    