{% extends "layout/base.twig" %}

{% block title %}
    Les recettes
{% endblock %}

{% block body %}


    <div class="container mt-3">

        <div class="row">
            {{form_open(base_url('recette'),"class = w-100") }}
            <div class="col-sm-8 col-md-4 d-flex">

                    <input type="text" class="form-control search-bar mr-3" name="recipe[search]" placeholder="Recette" value = {{set_value('recipe[search]')}}>
                    <button type="submit" class = "btn btn-info "><i class="fas fa-search"></i></button>

                {{ validation.errors ? validation.errors.name }}
                {{ form_close }}

            </div>

                
        </div>

        <div class="row mt-3">
            {% for t in tags %}
                <h3 class="col-12 text-center mb-2">{{ translate(t.name,"Tag") }}</h3>
                {% for is in t.getIsTagged(t.id) %}
                    {% for r in  is.getRecipes(is.idRecipe) %}
                        <div class=" col-md-3 col-xs-12 mb-3">
                            <div class="card">
                                {% if r.idImage is empty %}
                                    <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/noImage.jpg" alt="{{ r.name }}">
                                {% else %}
                                    <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/recipes/{{ r.getImage().name }}.{{ r.getImage().fileExtension }}" alt="{{ r.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <a href={{ base_url('recette')~'/'~ r.idRecipe}}  class="card-title text-center">{{ r.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            {% for r in recipes %}
            <div class=" col-md-3 col-xs-12 mb-3">
                <div class="card">
                    {% if r.idImage is empty %}
                        <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/noImage.jpg" alt="{{ r.name }}">
                    {% else %}
                        <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/recipes/{{ r.getImage().name }}.{{ r.getImage().fileExtension }}" alt="{{ r.name }}">
                    {% endif %}
                    <div class="card-body">
                        <a href={{ base_url('recette')~'/'~ r.idRecipe}}  class="card-title text-center">{{ r.name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
