{% extends "layout/base.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <div class="container">

        <h1 id="titleFridge" class="text-center my-3">J'ai dans mes placards...</h1>
        <div class="mt-5">


            <div class="cardcontainer list">

                <ul class="cardlist"></ul>

                <button class="but-nope">X</button>
                <button class="but-yay">✓</button>

            </div>

            <p id="nameIngredient" class="text-center my-2"></p>
            <div class="row w-50 mt-4 mx-auto">
                <button id="reload" onclick="window.location.reload()"></button>
                <button id="buttonRecipe" class="btn btn-info mx-auto"></button>

            </div>
            <ul class="cardlist noRecipe" id="results"></ul>

        </div>

    </div>

    {% if recipes is not empty %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-5 text-center">Historique des recettes</h2>
            </div>
        </div>

        <div  class="row mt-3">
            {% for r in recipes %}
            <div class=" col-md-3 col-xs-12 mb-3">
                <div class="card">
                    {% if r.idImage is empty %}
                        <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/noImage.jpg" alt="{{ r.name }}">
                    {% else %}
                        <img class="card-img-top imageRecipe" src="https://gay.needemand.com/realisations/NESTIAdministration/public/images/recipes/{{ r.getImage().name }}.{{ r.getImage().fileExtension }}" alt="{{ r.name }}">
                    {% endif %}
                    <div class="card-body">
                        <a href={{ base_url('recette')~'/'~ r.idRecipe}}  class="card-title text-center">{{ r.name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <script src="{{ base_url("js/suggestion.js") }}"></script>
{% endblock %}
